extends layout

block content
  .uk-container
    .uk-grid.uk-text-center
      .uk-width-1-2.uk-container-center
        img(src="logo.png")
        p
          a.uk-button(href="/auth/google") login with google
