doctype html
html.uk-height-1-1
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title King Crimson
    link(rel="stylesheet", href="vendor/stylesheets/uikit.gradient.min.css")
  body.uk-height-1-1
    nav.uk-navbar.uk-navbar-attached
      a(href="/").uk-navbar-brand King Crimson
    block content
    script(src="vendor/js/jquery.min.js")
    script(src="vendor/js/uikit.min.js")
    script(src="js/bundle.js")
